<!DOCTYPE html>
<html>
    <head>
        <%- include('../templates/head'); %>
    </head>
<body>
    <%- include('../templates/nav'); %>

    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <h1>Page not found!</h1>
                <p>Unfortunately the requested page doesn't existe.</p>
                <p>
                    <a href="/">Back to home</a>    
                </p>
            </div>
        </div>
    </div>

    <%- include('../../public/js/scripts'); %>
</body>
</html>